@mixin button($margintop, $backgroundColor, $fontColor){
  text-transform: uppercase;
  color: $fontColor;
  border: none;
  background: $backgroundColor;
  padding: 1.3125em 3.5625em;
  border-radius: 4px;
  margin-top: $margintop;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
